

.orderDetailContainer{
    width: 100%;
    background: var(--layout-back-color);
    --status-color: #eb5600;

    .mb48{
        margin-bottom: 48px;
    }
    .commonTitle{
        color: var(--text-color);
        font-size: 2em;
        font-weight: bold;
        line-height: 34px;
        margin-bottom: var(--pm-16);
    }
    .orderDetailMain{
        margin: 0 auto;
        font-size: 1rem;
        width: var(--main-width);
        padding: var(--pm-16) 0;
        .leftContent{
            width: 768px;
            font-size: 1rem;
            .orderStatus{
                padding: var(--pm-16);
                background: var(--vt-c-white);
                margin-bottom: var(--pm-16);
                .orderStatusT{
                    color: var(--status-color);
                    font-weight: bold;
                    font-size: 2em;

                }
                .orderStatusP{
                    p{
                        font-size: 1.2em;
                        font-weight: 400;
                    }
                }
                .orderPay{
                    margin-top: var(--pm-16);
                }
                .orderTips{
                    margin-top: var(--pm-16);
                    padding: var(--pm-16);
                    background: rgba(255, 111, 0, 0.08);
                    span{
                        color: var(--text-color);
                        font-size: 1.2em;
                        font-weight: 400;
                        i{
                            color: rgb(235, 86, 0);
                            font-style: normal;
                        }
                    }
                }
            }
            .flightContent{
                padding: var(--pm-16);
                background: var(--vt-c-white);
                margin-bottom: var(--pm-16);
                font-size: 1rem;
                .flightTitle{
                    .commonTitle;
                }
                .flightBox{
                    padding: var(--pm-16) 0;
                    .flightTips{
                        color: var(--tips-color);
                        font-size: 1em;
                        margin-bottom: 5px;
                    }
                }
            }
            .passengerContent{
                background: var(--vt-c-white);
                padding: var(--pm-16);
                margin-bottom: var(--pm-16);
                .passengerTitle{
                    .commonTitle;
                }
                .passengerBox{
                    padding-bottom: var(--pm-16);

                    .passengerLi{
                        font-size: 1rem;
                        .passengerName{

                            span{
                                font-size: 1.35em;
                                color: var(--text-color);
                                font-weight: bold;
                            }
                            .write{
                                font-size: 1rem;
                                margin-left: 10px;
                                span{
                                    color: var(--active-color);
                                    font-size: 1.2em;
                                    font-weight: 400;
                                    font-weight: bold;
                                }
                            }

                        }
                        .liBox{
                            font-size: 1rem;
                            color: var(--text-color);
                            .lis{
                                color: var(--text-color);
                                font-size: 1.2rem;
                                .label{
                                    flex: 1 1 0%;

                                }
                                .values{
                                    flex: 3.5 1 0%;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
